blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
contextvars==2.4
cymem==2.0.6
dataclasses==0.8
filelock==3.3.2
Flask==2.0.2
ftfy==5.9
future==0.18.2
huggingface-hub==0.0.12
idna==3.3
immutables==0.16
importlib-metadata==4.8.2
itsdangerous==2.0.1
jellyfish==0.8.9
Jinja2==3.0.3
joblib==1.1.0
langcodes==3.2.1
lemmy==2.1.0
MarkupSafe==2.0.1
murmurhash==1.0.6
numpy==1.19.5
packaging==21.2
pathy==0.6.1
preshed==3.0.6
protobuf==3.19.1
pydantic==1.8.2
pyparsing==2.4.7
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
sacremoses==0.0.46
scikit-learn==0.23.2
scipy==1.5.4
sentencepiece==0.1.91
six==1.16.0
smart-open==5.2.1
spacy==3.0.7
spacy-alignments==0.8.4
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacy-transformers==1.0.0
srsly==2.4.2
stop-words==2018.7.23
summa==1.2.0
thinc==8.0.13
threadpoolctl==3.0.0
tokenizers==0.9.4
torch==1.10.0
torchcontrib==0.0.2
tqdm==4.62.3
transformers==4.2.2
typer==0.3.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==2.0.2
zipp==3.6.0
